@value makerWhite,makerGreen, makerGrey, makerlightblue, makerLightseaGreen, makerGrey from '../../common/colors.css';
@value mediumTitle, subTitle, contents, mobileSize, mediaQuery from '../../common/size.css';

.modalContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110rem;
  height: 60rem;
  display: flex;
  border-radius: 20px;
  z-index: 1;
}

.photo {
  flex: 1 1 50%;
  background-image: url('../../images/signInPhoto.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  transition: transform 1s;
  transform: translate(0%);
  visibility: visible;
}

.slideRight {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  transition: transform 1s;
  transform: translate(100%);
}

.signFormContainer {
  flex: 1 1 50%;
  background-color: makerWhite;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 1s;
  transform: translate(0%);
}

.slideLeft {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  transition: transform 1s;
  transform: translate(-100%);
}

.welcome {
  background-image: url('../../images/welcome.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.radiusRightSide {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.signForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 30rem;
}

.signTitle {
  font-size: mediumTitle;
  margin-bottom: 2rem;
  text-align: center;
  font-weight: 700;
}

.signInSubTitle {
  font-size: contents;
  margin-bottom: 0.7rem;
  font-weight: 700;
  opacity: 0.6;
}

.signInInput {
  outline: none;
  border: makerGrey 1px solid;
  border-radius: 8px;
  margin-bottom: 2rem;
  font-size: 2rem;
  padding: 0.5rem 1rem;
}

.socialLogin {
  margin-top: 2rem;
}

.fontBtn {
  border-radius: 50%;
  padding: 1rem;
  background: transparent;
  border: 1px solid lightgray;
  cursor: pointer;
  transition: all 300ms ease-in;
}
.fontBtn:not(:last-child) {
  margin-right: 1rem;
}
.fontBtn:hover {
  background-color: makerLightseaGreen;
  color: makerWhite;
}
.icon {
  font-size: 2rem;
}

.iconSize {
  width: 2rem;
  height: 2rem;
}

.createAccountContainer {
  text-align: center;
  font-size: 1.3rem;
  margin-top: 5rem;
  color: makerGrey;
}

.createAccountBtn {
  border: none;
  outline: none;
  background: transparent;
  margin-top: 1.2rem;
  cursor: pointer;
  color: makerGreen;
}

.createAccountBtn:hover {
  color: makerlightblue;
}

.closeBtnRight {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  margin: 1rem 1.4rem auto auto;
  transition: transform 100ms linear;
}

.closeBtnLeft {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  margin: 1rem auto auto 1.4rem;
  transition: transform 100ms linear;
}

.closeBtn:hover {
  transform: scale(1.2);
}

@media screen and (max-width: mediaQuery) {
  .modalContainer {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .photo {
    /* visibility: hidden; */
  }
}

@media screen and (max-width: mobileSize) {
  .modalContainer {
    /* flex-direction: column; */
    width: 90rem;
    height: 60rem;
  }
  .photo {
    /* visibility: hidden; */
  }
}
