@value makerGreen, makerGrey, makerlightGrey, makerlightblue, makerBlue, makerBlack, makerWhite from '../../../../../common/colors.css';
@value title, subTitle, mediaQuery, mobileSize from '../../../../../common/size.css';

.email {
  flex: 1 1 50%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem;
  background-image: url('../../../../../images/emailBackground.png');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.commonStyle::placeholder {
  color: white;
  opacity: 0.8;
}
.commonStyle {
  outline: none;
  background-color: transparent;
  color: white;
  font-size: 2.5rem;
  border: none;
  padding-bottom: 2rem;
  border-bottom: 1px solid grey;
}

.commonStyle:not(:last-child) {
  margin-bottom: 5rem;
}

.emailLabel {
  font-size: 2.3rem;
  margin-bottom: 1.5rem;
}

.btnStyle {
  outline: none;
  border: 3px solid makerlightblue;
  background-color: transparent;
  padding: 1.3rem 4rem;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 8px;
  margin-right: 1rem;
  cursor: pointer;
  color: makerBlue;
  transition: all 200ms linear;
  text-align: center;
  margin: 0 auto;
}

.btnStyle:hover {
  background-color: makerBlue;
  color: white;
}

@media screen and (max-width: mediaQuery) {
  .email {
    padding: 2rem;
  }

  .commonStyle:not(:last-child) {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: mobileSize) {
}
