{
    "presets": ["@babel/preset-env"],
    "plugins": [
        [
          "module-resolver",
          {
            "alias": {
                "@": "./src",
                "#helpers": "./helpers",
                "#models": "./models",
            }
          }
        ]
      ]
}