@value makerGreen, makerGrey, makerlightblue, makerWhite from '../../common/colors.css';
@value title, subTitle, mediaQuery from '../../common/size.css';

.background {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: makerGreen;
  box-shadow: 9px 10px 18px +6px rgba(0, 0, 0, 0.5);
}
.icon {
  font-size: 4rem;
  cursor: pointer;
}
.icon:not(:last-child) {
  margin-right: 1rem;
}
