.infos {
  height: 80rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../../../../../images/infoBackground.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
