@value makerGreen, makerGrey, makerlightblue from '../../../../../common/colors.css';
@value title, subTitle, mediaQuery, halfSize, mobileSize from '../../../../../common/size.css';

.container {
  height: 950px;
  width: 100%;
  position: relative;
  background-image: url('../../../../../images/takeTourBackground.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.background {
  height: 760px;
  width: 100%;
  background-color: makerGreen;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 60rem;
  height: 100%;
  box-shadow: 9px 10px 18px -6px rgba(0, 0, 0, 0.5);
  margin-top: 10rem;
  margin-right: 20rem;
}

.explain {
  margin-right: 15rem;
}

.takeTourTitle {
  font-size: 9rem;
  margin-bottom: 5rem;
  color: white;
  font-weight: 900;
}

.button {
  display: flex;
  justify-content: center;
}

.subDescContatiner {
  position: absolute;
  bottom: 1vw;
  left: 30vw;
  visibility: visible;
}

.description {
  font-size: 3.2rem;
  width: 60%;
  text-align: center;
  margin: auto;
  background-color: rgba(246, 241, 235, 0.8);
  padding: 2rem;
  text-align: center;
  border-top-left-radius: 0;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 10px 11px 15px -5px rgba(0, 0, 0, 0.7);
  transform: translateX(1100px);
  transition: transform 600ms ease-in;
}

.descriptionSlide {
  transform: translateX(0px);
}

.description::after {
  border-top: 3vw solid rgba(246, 241, 235, 0.8);
  border-left: 2vw solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 0px solid transparent;
  content: '';
  position: absolute;
  top: 0;
  left: -2vw;
  width: 0.3rem;
}

@media screen and (max-width: mediaQuery) {
  .container {
    height: 760px;
  }
  .background {
    flex-direction: column;
  }
  .img {
    margin-top: 0;
    margin-right: 0;
  }
  .explain {
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.58);
    margin-right: 0;
    margin-top: -30rem;
    padding-bottom: 10rem;
  }
  .subDescContatiner {
    visibility: hidden;
  }
}

@media screen and (max-width: mobileSize) {
}
